<div class="alert">
  <button type="button" class="close" data-dismiss="alert">&times;</button>
  <strong>Warning!</strong> *Please keep on mind that you can't combine DONBURI, CURRY or BENTO menus. In all other cases you can order 'more than one' menus to a maximum sum of £10. Enjoy your lunch :)
</div>
<%= render 'form' %>

