<div class="alert">
  <button type="button" class="close" data-dismiss="alert">&times;</button>
  <strong><%= t "orders.warning" %></strong> <%= t "orders.warning_message" %>
</div>
<%= render 'form' %>

