<h1>Category</h1>
<br>
<p>
  <b>Name</b><br>
  <%= @category.name %>
</p>


<div class="form-actions">
  <%= link_to 'Back', admin_categories_path, :class => 'btn'  %>
  <%= link_to 'Edit', edit_admin_category_path(@category), :class => 'btn' %>
  <%= link_to 'Delete', admin_category_path(@category), :method => 'delete', :confirm => 'Are you sure?', :class => 'btn btn-danger' %>
</div>
