<h2>Menu</h2>

<p>
  <b>Name</b><br>
  <%= @menu.name %>
</p>


<div class="form-actions">
  <%= link_to 'Back', admin_menu_path, :class => 'btn'  %>
  <%= link_to 'Edit', edit_admin_menu_path(@menu), :class => 'btn' %>
  <%= link_to 'Delete', admin_menu_path(@menu), :method => 'delete', :confirm => 'Are you sure?', :class => 'btn btn-danger' %>
</div>
